:root {
    background-color: #0a0a0a;
    color: hsl(240, 5%, 65%);
    font-family: Cyber, sans-serif;
}

a:link, a:visited, a {
    color: #fff;
    text-decoration: none;
}

/* ============= Fonts ============= */
@font-face {
    font-family: Cyber;
    src: url("/fonts/cyber.ttf");
}
  
/* ============= Scrollbar ============= */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-darker;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-cyan-600;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-cyan-700;
  }